.root{
    -fx-alignment : top-center;
    -fx-background-color:transparent;
}

.button{
    -fx-font-weight: 800;
    -fx-font-size: 20px;
    -fx-border-width:3px;
    -fx-background-image: url('../img/otherButton.png');
    -fx-border-color: rgba(254, 89, 0)
}

.button:hover{
    -fx-text-fill: rgba(254, 89, 0);
    -fx-background-image: url('../img/otherButtonHover.png');
}

.playButton{
    -fx-background-image: url('../img/playButton.png');
    -fx-text-fill: black;
    -fx-border-color: rgb(253, 217, 0);
}

.playButton:hover{
    -fx-text-fill: rgb(253, 217, 0);
    -fx-background-image: url('../img/playButtonHover.png');
}

.optionMenuButton{
    -fx-font-weight: 800;
    -fx-font-size: 15px;
    -fx-border-width:3px;
    -fx-background-image: url('../img/otherButton.png');
    -fx-border-color: rgba(254, 89, 0)
}

.mainTitre{
    -fx-font-weight: 800;
    -fx-font-size: 24px;
    -fx-alignment : center;
}

.secondTitre{
    -fx-font-weight: 600;
    -fx-font-size: 21px;
    -fx-alignment : center;
}

.top{
    -fx-alignment : center;
    -fx-background-color: rgba(201, 154, 154, 0.85);
}

.bottom{
    -fx-alignment : center;
    -fx-background-color: rgba(209, 189, 189, 0.85);
}

.center{
    -fx-alignment : center;
}

.configRadioButton {
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-min-width: 200px;
    -fx-max-width: 200px;

    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: rgb(0,0,0,0.2);
}

.defaultConfigRadioButton {
    -fx-background-color: #2ac6f9;
}

.defaultConfigRadioButton:hover {
    -fx-background-color: #7cdaf9;
}

.customConfigRadioButton {
    -fx-background-color: #f9de2a;
}

.customConfigRadioButton:hover {
    -fx-background-color: #f9e97c;
}

.defaultConfigBox {
    -fx-background-color: #7cdaf9;
}

.customConfigBox {
    -fx-background-color: #f9e97c;
}

.background {
    -fx-background-color: rgba(201, 154, 154, 0.85);
}

.optionBox {
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 200;
    -fx-max-height: 200;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 15;
    -fx-border-width: 2;
    -fx-border-color: rgb(0,0,0,0.2);;
    -fx-border-radius: 15;
}

.optionContainerPercent {
    -fx-spacing: 15;
}

.optionContainerFog {
    -fx-spacing: 15;
}

.optionContainerSize {
    -fx-spacing: 27.5;
}

.optionContainer > Label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.radioButtonContainer {
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 150;
    -fx-max-height: 150;

    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 15;
    -fx-border-width: 2;
    -fx-border-color: rgb(0,0,0,0.2);;
    -fx-border-radius: 15;
    -fx-alignment: center;
}

.radioButtonContainerToggle {
    -fx-background-color: #4bf745;
}

.iaDifficulty {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-spacing: 5;
    -fx-alignment: center;
}

.easy {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;

    -fx-background-color: #267f23;
}

.easyToggle {
    -fx-background-color: #4bf745;
}

.hard {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;

    -fx-background-color: #7f2323;
    -fx-text-fill: white;
}

.hardToggle {
    -fx-background-color: #f74545;
}

.tooltip {
    -fx-font-size: 15;
}